td {border: solid thin black;}
#doc_overlay {position: absolute;z-index: 100;top: 200px;left: 475px;border: solid thin black;background: #efe;padding: 10px;width:25%;height:10%;}
.right {text-align: right;}
.smaller {font-size: 0.85em;}

body {/* background: #009900; */}


/* @TODO. Get rid of !important rules. Using them for now because this calendar css is a morass of selectors. */
div.calendar div.rotation {}
div.calendar div.rounds {background: none repeat scroll 0 0 #DD52CF !important;}
/* div.calendar div.Hematology {background: none repeat scroll 0 0 #fa8201 !important;}
div.calendar div.Urology {background: none repeat scroll 0 0 #09F000 !important;}
div.calendar div.MH.Urology {background: none repeat scroll 0 0 #ebaf1e !important;}
div.calendar div.SL.Urology {background: none repeat scroll 0 0 #ff0047 !important;}
div.calendar div.Thoracic {background: none repeat scroll 0 0 #066647 !important;}
div.calendar div.Surg {background: none repeat scroll 0 0 #000247 !important;}
div.calendar div.SL.Surg {background: none repeat scroll 0 0 #666247 !important;}
div.calendar div.MH.Surg {background: none repeat scroll 0 0 #aa0907 !important;}
div.calendar div.Breast {background: none repeat scroll 0 0 #096667 !important;}
div.calendar div.rotation.call-1 {background: none repeat scroll 0 0 red !important;} */


div.calendar div.MH {background: none repeat scroll 0 0 #d86dcd !important;} /* MacKenzie light purple */
div.calendar div.SL {background: none repeat scroll 0 0 #f9f750 !important;} /* Southlake yellow */

div.calendar div.events,
div.calendar div.meetings {
  background: none repeat scroll 0 0 #85fdf3 !important; /* Events/meetings have light blue */
  /* Erik also said??? "The personal right sidebar red could be good for all events and meetings. PLMPC events have that same red." */
}

div.calendar div.event.optional {
  background: none repeat scroll 0 0 #85fdf3 !important; /* Events/meetings have light blue */
}

div.calendar div.event.important {
  background: none repeat scroll 0 0 #ff0000 !important; /* Events/meetings have light blue */
}


div.calendar-calendar  div.inner div.item div.view-item div.calendar {
  overflow: visible;
}

div.bt-wrapper div.bt-content {
  color: #000;
}

div.rounds {
}

.rad-heading {background: #5b2d7f;}
.rad-heading td {color: #ffffff;font-size: 2em;}
.odd {background: #ffffff;}
.even {background: #cccccc;}

.error {}
div.error {padding: 1em;border: solid 3px #ff0000;background: #f7b5b2;margin-top: 1em;}
div.error ul {margin-left: 2em;}

div.no_error {padding: 1em;border: solid 3px #00ff00;background: #33c93a;}

/* Assign shifts to days of week. */
.shift-day-wrapper {float:left;width:12%;padding: 0 2px;border: solid 1px black;border-right: none;}

.shift-day-wrapper.first, 
.shift-day-wrapper.last {
  background: #cccccc;
}

.shift-day-wrapper.first {background: #cccccc;}
.shift-day-wrapper.last {border-right: solid 1px black;}

#sked-shift-assign-day .form-submit {clear: both;margin-top: 1em;}

table.missing-shifts {width: auto;}
.missing-shifts td {border: solid 1px #BEBFB9;}

.radlink {text-transform: uppercase;}

div.call a.radlink,
div.call a.beautytips {
  color: #ff0000;
}

/* Week calendar's shift code div height way too short. */
.page-calendar-work-date-ts-week .calendar-calendar .week-view #multi-day-container, 
.page-calendar-work-date-ts-week .calendar-calendar .day-view #multi-day-container, 
.view-schedule .calendar-calendar .week-view #multi-day-container,
.view-schedule .calendar-calendar .day-view #multi-day-container {
  height: auto;
}


aside.region-sidebar-first {
  margin-top: 1em;
}

.page-node-50 .even {
  background: none;
  color: red;
  font-weight: bold;
  font-size: 16px;
}

/* Cardiac Thursdays in red */
.thu.S5.rotation, .thu.S7.rotation, .wed.C5.evenweek.rotation {
  background: none repeat scroll 0 0 #ffdddd !important;
}

/* .tue.S3.rotation */
/* Specific rotations need to be baby blue. Kinda' random. 18-nov-2014 mm. */
.fri.S3.rotation,
.wed.C3.oddweek.rotation,
.bop.C3.rotation, .bop.S3.rotation,
.bdh.C3.rotation, .bdh.S3.rotation,
.th.C3.rotation, .th.S3.rotation,
.zia.C3.rotation, .zia.S3.rotation,
.zia.jan09-2015.rotation,
.th.jan16-2015.rotation,
.zia.jan19-2015.rotation,
.bop.jan23-2015.rotation,
.zia.jan28-2015.rotation,
.bdh.jan30-2015.rotation,
.bdh.feb06-2015.rotation,
.th.feb13-2015.rotation,
.zia.feb20-2015.rotation,
.zia.feb23-2015.rotation,
.bdh.feb27-2015.rotation,
.bop.mar06-2015.rotation,
.bdh.mar13-2015.rotation,
.th.mar20-2015.rotation,
.bop.mar27-2015.rotation,
.th.mar30-2015.rotation,
.zia.mar31-2015.rotation {
  background: none repeat scroll 0 0 #ffdddd !important; /* Erik asked to change MH US from baby blue (#ddddff) to the Thurs cardiac pink (#ffdddd) */
}




.thu.S5.rotation, .thu.S7.rotation, .wed.C5.evenweek.rotation, .tue.S3.rotation, .wed.C3.oddweek.rotation, 
div.calendar div.rounds, div.calendar div.MH, div.calendar div.SL, div.calendar div.events,
div.calendar div.meetings, div.calendar div.event.important, div.calendar div.event.optional {
  width: 95%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: -3px;
  padding-left: 3px;
}

.block-sked-important-mtg #imp-mtg {
  background-color: red;
  padding: 1em;
}

.block-sked-important-mtg #imp-mtg ul li {
  list-style: none;
  font-size: 1.6em;
}

.block-my-shift #imp-mtg ul li {
  list-style: none;
}

/* Important event notice in calendar. */
.calendar-imp-event {
  background: #ff0000;
  padding: 3px;  
}

.view-schedule .calendar-imp-event a.beautytips {
  color: #ffffff;
  font-weight: normal;
}